* {
  font-family: "Space Mono", monospace;
}
body {
  background-color: hsl(185, 41%, 84%);
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
}

main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 67px;
  margin-top: 100px;
}

.main-content-container {
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 34px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

/* FIRST BLOCK */

span.label {
  font-size: 12px;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
}

section.inputs {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: hsl(189, 14%, 91%);
  border: none;
  outline: none;

  background-position: 19px 17px;
  background-repeat: no-repeat;

  text-align: right;
  font-weight: bold;
  font-size: 24px;
  color: hsl(183, 100%, 15%);
}

input#bill-input {
  background-image: url(../images/icon-dollar.svg);
}

input#number-of-people-input {
  background-image: url(../images/icon-person.svg);
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

button {
  width: 100%;
  height: 37px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
}

button.normal-tip {
  background-color: hsl(183, 100%, 15%);
  color: #fff;
}

button.custom-tip {
  color: hsl(186, 14%, 43%);
}

/* SECOND BLOCK */

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 42px 30px 30px 30px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
}

.result-container:nth-child(2) {
  margin-top: 2.3rem;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-container .headings {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.result-container .headings .heading-1 {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
}

.result-container .headings .heading-2 {
  color: hsl(184, 14%, 56%);
  font-size: 10px;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.result-container .value {
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: 30px;
}

button.button-reset {
  text-transform: uppercase;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  margin-top: 8rem;
}

/* SPECIAL CASES */
button.button-active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
